*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, SansSerif;
  }

  .page-container{
    max-width: 1300px;
    margin:auto;
    padding:25px
}



  .logo-img{
    width: 200px;
  }


  /*-----Navigation Bar-----*/

  .sidebar{
    position: fixed;
    top:0;
    left:0;
    height: 100vh;
    width: 80px;
    background-color: #1D294F;
    padding: 0.4rem 0.8rem;
    transition: all 0.5s ease;
  }
  
  .sidebar.active ~ .main-content{
    left:250px;
    width: calc(100% - 250px);
  }
  
  .sidebar.active{
    width:250px;
  }
  
  .sidebar #btn{
    position: absolute;
    color:#fff;
    top: .4rem;
    left:50%;
    font-size:1.2rem;
    line-height: 50px;
    transform: translateX(-50%);
    cursor: pointer;
  }
  
  .sidebar.active #btn{
    left:90%;
  }
  
  .sidebar .top .logo {
    color: #fff;
    display:flex;
    height:50px;
    width:100%;
    align-items: center;
    pointer-events: none;
    opacity: 0;
  }

  
  .sidebar.active .top .logo {
    opacity: 1;
  }
  
  .top .logo i{
    font-size: 2rem;
    margin-right: 5px;
  }
  
  
  
  .bold{
    font-weight:600;
  }
  
  .sidebar p{
    opacity: 0;
  }
  .sidebar.active p{
    opacity: 1;
  }
  
  .sidebar ul li{
    position: relative;
    list-style-type: none;
    height:50px;
    width:90%;
    margin: 0.8rem auto;
    line-height: 50px;
  }
  
  .sidebar ul li a {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 0.8rem;
  }
  
  .sidebar ul li a:hover {
    background-color:#fff;
    color: #12171e;
  }
  
  .sidebar ul li a i {
    min-width: 50px;
    text-align: center;
    height: 50px;
    border-radius: 12px;
    line-height: 50px;
  }
  
  .sidebar .nav-item {
    opacity: 0;
  }
  .sidebar.active .nav-item {
    opacity:1;
  }
  
  .sidebar ul li .tooltip {
    position: absolute;
    left: 125px;
    top: 50%;
    transform: translate(-50%, -50%) ;
    box-shadow: 0 0.5rem 0.8rem rgba(0, 0,0,0.2);
    border-radius: .6rem;
    padding: .4rem 1.2rem;
    line-height: 1.8rem;
    z-index: 20;
    opacity: 0;
  }
  
  .sidebar ul li:hover .tooltip {
    opacity: 1;
  }
  
  .sidebar.active ul li .tooltip{
    display: none;
  }

  /*-----HomePage-----*/

  .image-container{
    display:flex;
    justify-content: center;
}

.image-banner{
    
    margin-left:auto;
    margin-right:auto;
    width:50%
}

.btn {
  padding: 15px 25px 15px 25px;
  border-radius: 10px;
  width: 500px;
  margin: auto;
  margin-top: 25px;
  background-color: #1D86C5;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  border: 2px solid #1D86C5;
}


.btn a {
  text-decoration: none; 
  color:#fff;
  
}

a{
  text-decoration: none; 
}


/*Home Page Center Banner*/
.banner-container{
  background-color:#1D294F;
  width:100%;
  max-width:100%; 
  height: auto;
  display: flex;
  padding: 50px
}

.banner-container .image-container{
  width: 50%;
  text-align: center;

}

.banner-container .image-container .image{
  max-width: 100%;
  height: auto;
}

.banner-container .text-container{
  width: 50%;
  padding-top: 20px;


}

.banner-container .text-container .title{
  color: #F8F8FA;
  font-size: 36px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

.banner-container .text-container .desc{
  color: #F8F8FA;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

/*Event Card */
.section-container{
  display:flex;
  flex-direction:column;
  margin:25px;
}

.section-container .title{
      color: #1D86C5;
      font-size: 36px;
      font-family: 'Open Sans', sans-serif;
      font-weight: 700;
      margin-bottom: 20px;
}

.event-container {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.event-card {
      width: 300px;
      margin: 20px;
      padding: 15px;
      border: 1px solid #ddd;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      float: left;
      background-color: white;
  }

.event-card img{

max-width: 100%;
height: auto;
border-radius: 6px;

}

.single-container .event-card .title{
  color:#1D294F;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: 400;
  padding-top:15px;
}

.event-card .title{
  color:#1D294F;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: 400;
  padding-top:15px;
}

.event-card .date{
  color: #1D86C5;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;

}

.event-card .location{
  color: #7E7E7E;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
}

.event-card .btn{
 
 border-radius:10px;
 width: auto;
 margin:auto;
 margin-top:25px;
 background-color:#1D86C5;
 font-family: 'Open Sans', sans-serif;
 font-size: 16px;
 font-weight: 400;
 color: #fff;
 border: 2px solid #1D86C5;;
 


}

.btn {
padding: 15px 25px 15px 25px;
border-radius: 10px;
width: 500px;
margin: auto;
margin-top: 25px;
background-color: #1D86C5;
font-family: 'Open Sans', sans-serif;
font-size: 16px;
font-weight: 400;
color: #fff;
border: 2px solid #1D86C5;
}

/*Form*/

form {
  background-color: white;
  padding: 20px;
  margin-top:50px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 8px;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="submit"] {
  background-color: #1D86C5;
  color: white;
  cursor: pointer;
}

select{
  margin-bottom: 16px;
}

/*Edit Table Member*/
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

/*Single Event Page*/
.single-event-container .title{
  color: black;
  font-size: 64px;
  font-weight: 700;
  margin-top: 35px;
  margin-bottom: 25px;
}

.single-event-container .field-name{
  color: black;
  font-size: 24px;
  font-weight: 700;
  margin-top: 50px;
}

.single-event-container .desc{

  color: #7E7E7E;
  font-size: 16px;
  font-weight: 400;

}

/*Profile Page */
.single-container .title{
  color: black;
  font-size: 64px;
  font-weight: 700;
  margin-top: 35px;
  margin-bottom: 25px;
}

.single-container .subscribe{
  color: black;
  font-size: 32px;
  font-weight: 700;
  margin-top:25px;
}

.single-container .count{
  padding-left:20px;
  color: #7E7E7E;
  font-size: 24px;
  font-weight: 700;
}



.single-container .field-name{
  color: black;
  font-size: 24px;
  font-weight: 700;
  margin-top: 50px;
}

.single-container .desc{

  color: #7E7E7E;
  font-size: 16px;
  font-weight: 400;

}

a:link {
color: #1D294F;
}

a:hover {
color: #FF7008;
}


/*profile page*/
.profile-container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: flex-start;
}

.left-container {
  margin-left:80px;
  margin-top:100px;
  padding: 20px;
  position: relative; 
}

.left-container img {
  width: 100%;
  height: 100%;
  display: block; /* Fix for inline alignment issue */
}

.edit-button {
  cursor: pointer;
  position: absolute; /* Position absolute for centering */
  left: 50%;
  transform: translateX(-50%); /* Centering using translateX */
  bottom: 20px; /* Adjust as needed */
  padding: 10px;
  padding-left: 40px;
  padding-right:40px;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-radius: 8px;
  background: #1D294F;
  color: #DDAB58;
  text-align: center;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;


}

.right-container {
  margin-left:100px;
  flex: 1;
  padding: 20px;
}


.profile-frame {
border-radius: 50%; 
overflow: hidden; 
display: inline-block; 
margin-bottom: 80px;
position: relative;
max-width: 660px; 
max-height: 650px; 
}


/*
.image-banner {
  width: 100%; 
  height: 100%; 
  display: block; 
  object-fit: cover; 
}
*/

.user-info {
  color: var(--White, #3C0E0E);
  font-family: Open Sans;
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 120px;
}

.club-position{
  color: #000;
  font-family: Open Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

}
.description {
  margin-top: 45px;
  color: #000;
  font-family: Open Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  
}

.user-description{
  color: var(--Gray-600, #7E7E7E);
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 25px;
}

.subscribed-clubs,
.upcoming-activity {
  margin-bottom: 10px;
  color: #000;
  font-family: Open Sans;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.arrow{
  padding-top: 8px;
  height:20px;
  width:21px;
}

.create-event-section{
  margin-top: -20px;
  margin-bottom: 120px;
}

    /* Styles for the pop-up */
    #popupSubscribe {
      display: none;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 20px;
      background-color: #fff;
      border: 1px solid #ccc;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      z-index: 1000;
  }

  /* Styles for the overlay background */
  #overlay {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 999;
  }

  .registered-event-section{
    margin-top: 130px;
  }

@media only screen and (max-width: 1000px) {

  .right-container{
      margin-left: 0px;
  }

  .subscribed-clubs,
  .upcoming-activity {
      display: flex;
      align-items: center; /* Align text and arrow vertically */
  }

  .arrow {
      margin-left: 10px; /* Adjust the space between text and arrow */
  }

  .edit-button{
      font-size: 18px;

  }


}






