*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, SansSerif;
  }

  .page-container{
    max-width: 1300px;
    margin:auto;
    padding:25px
}


  .logo-img{
    width: 200px;
  }

  /*-----Navigation Bar-----*/

  .sidebar{
    position: fixed;
    top:0;
    left:0;
    height: 100vh;
    width: 80px;
    background-color: #1D294F;
    padding: 0.4rem 0.8rem;
    transition: all 0.5s ease;
  }
  
  .sidebar.active ~ .main-content{
    left:250px;
    width: calc(100% - 250px);
  }
  
  .sidebar.active{
    width:250px;
  }
  
  .sidebar #btn{
    position: absolute;
    color:#fff;
    top: .4rem;
    left:50%;
    font-size:1.2rem;
    line-height: 50px;
    transform: translateX(-50%);
    cursor: pointer;
  }
  
  .sidebar.active #btn{
    left:90%;
  }
  
  .sidebar .top .logo {
    color: #fff;
    display:flex;
    height:50px;
    width:100%;
    align-items: center;
    pointer-events: none;
    opacity: 0;
  }
  
  .sidebar.active .top .logo {
    opacity: 1;
  }
  
  .top .logo i{
    font-size: 2rem;
    margin-right: 5px;
  }
  
  
  
  .bold{
    font-weight:600;
  }
  
  .sidebar p{
    opacity: 0;
  }
  .sidebar.active p{
    opacity: 1;
  }
  
  .sidebar ul li{
    position: relative;
    list-style-type: none;
    height:50px;
    width:90%;
    margin: 0.8rem auto;
    line-height: 50px;
  }
  
  .sidebar ul li a {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 0.8rem;
  }
  
  .sidebar ul li a:hover {
    background-color:#fff;
    color: #12171e;
  }
  
  .sidebar ul li a i {
    min-width: 50px;
    text-align: center;
    height: 50px;
    border-radius: 12px;
    line-height: 50px;
  }
  
  .sidebar .nav-item {
    opacity: 0;
  }
  .sidebar.active .nav-item {
    opacity:1;
  }
  
  .sidebar ul li .tooltip {
    position: absolute;
    left: 125px;
    top: 50%;
    transform: translate(-50%, -50%) ;
    box-shadow: 0 0.5rem 0.8rem rgba(0, 0,0,0.2);
    border-radius: .6rem;
    padding: .4rem 1.2rem;
    line-height: 1.8rem;
    z-index: 20;
    opacity: 0;
  }
  
  .sidebar ul li:hover .tooltip {
    opacity: 1;
  }
  
  .sidebar.active ul li .tooltip{
    display: none;
  }

  /*-----HomePage-----*/

  .image-container{
    display:flex;
    justify-content: center;
}

.image-banner{
    
    margin-left:auto;
    margin-right:auto;
    width:50%
}

.btn {
  padding: 15px 25px 15px 25px;
  border-radius: 10px;
  width: 500px;
  margin: auto;
  margin-top: 25px;
  background-color: #1D86C5;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  border: 2px solid #1D86C5;
}


.btn a {
  text-decoration: none; 
  color:#fff;
  
}


/*Home Page Center Banner*/
.banner-container{
  background-color:#1D294F;
  width:100%;
  max-width:100%; 
  height: auto;
  display: flex;
  padding: 50px
}

.banner-container .image-container{
  width: 50%;
  text-align: center;

}

.banner-container .image-container .image{
  max-width: 100%;
  height: auto;
}

.banner-container .text-container{
  width: 50%;
  padding-top: 20px;


}

.banner-container .text-container .title{
  color: #F8F8FA;
  font-size: 36px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

.banner-container .text-container .desc{
  color: #F8F8FA;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}







